{% extends 'blog/base.html' %}
{% block title %}
<title>About</title>
{% endblock title %}
{% load static %}
{% block content %}
<div class="col-sm-10">
    <h3 class="text-white text-center mt-5">About Page</h3>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad veniam quo deserunt repellendus doloribus eaque atque eveniet sed ex voluptate qui magni omnis consequuntur sequi et cumque pariatur eligendi quis, earum debitis architecto. Pariatur aliquid aliquam odio accusamus iste deleniti ut commodi quia nostrum odit. Adipisci, soluta! Itaque facere animi dolorum ipsam iure aspernatur officia sed veritatis inventore autem. Neque veritatis eos reiciendis atque debitis! Ea doloribus numquam dicta. Mollitia doloremque officia quasi incidunt non impedit quos aspernatur unde quibusdam? Officia, impedit quia dolorem dolores neque exercitationem consequatur atque harum aspernatur eaque. At nobis beatae magni, eaque cumque dolorum quod?
</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint laudantium pariatur modi, vitae eveniet animi, mollitia error dicta dolores consequuntur molestiae blanditiis sit cumque quis quas. Mollitia, facere! Quidem dolores commodi saepe iste corporis velit provident, ab, atque exercitationem, totam soluta dolore accusamus distinctio iusto fugit ut. Odit non, totam laudantium quo optio amet sit sunt officia recusandae similique ut odio sapiente distinctio adipisci molestiae, asperiores delectus. Repellendus vel delectus alias similique dolore deserunt. Ipsam consequuntur libero doloribus rerum magnam minima, doloremque nemo corrupti sapiente repellat ut enim ullam, odio deleniti nostrum odit ab, officia voluptates? Eveniet ea maxime optio!</p>
</div>

{% endblock content %}